<div class="monks-tokenbar flexcol">
    <div class="dialog-content">
        <form style="height:100%;">
            <div class="form-group">
                <label>{{localize 'MonksTokenBar.Experience'}}</label>
                <input type="text" id="assign-xp-value" style="text-align:right;" value="{{xp}}" />
            </div>
            <div class="form-group">
              <label for="dividexp">{{localize 'MonksTokenBar.DivideExperience'}}</label>
              <select id="dividexp" name="dividexp">
                {{selectOptions divideXpOptions selected=dividexp localize=true}}
              </select>
            </div>
            <div class="form-group">
                <label>{{localize 'MonksTokenBar.Reason'}}</label>
                <input type="text" id="assign-xp-reason" value="{{reason}}" />
            </div>
            <div class="form-group sheet">
                <ol class="items-list">
                    <li class="items-header flexrow">
                        <h3 class="item-name flexrow">{{localize 'MonksTokenBar.Actors'}}</h3>
                        <div class="item-controls flexrow" style="justify-content: center;">
                            {{localize 'MonksTokenBar.XP'}}
                        </div>
                        <div class="item-controls flexrow">
                        </div>
                    </li>

                    <ol class="item-list">
                        {{#each actors}}
                        <li class="item flexrow{{#if this.disabled}} disabled{{/if}}" data-item-id="{{this.actor.id}}" draggable="false">
                            <div class="item-name flexrow rollable">
                                <div class="item-image" style="background-image: url('{{this.actor.data.img}}')">
                                    <video width="30" height="30"><source src="{{this.actor.data.img}}" /></video>
                                    <i class="fas fa-ban"></i>
                                </div>
                                <h4>
                                    {{this.actor.data.name}}
                                </h4>
                            </div>
                            <div style="flex:0 0 60px;">
                                <input type="number" class="charxp" value="{{this.xp}}" />
                            </div>
                            <div class="item-controls flexrow">
                                <a class="item-control item-delete" title="{{localize 'MonksTokenBar.RemoveActor'}}"><i class="fas {{#if this.disabled}}fa-plus{{else}}fa-trash{{/if}}"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </ol>
            </div>
        </form>
    </div>
    <div class="dialog-buttons">
        <button class="dialog-button assign" data-button="assign">{{localize 'MonksTokenBar.Assign'}}</button>
    </div>
</div>
