<div class="monks-tokenbar contested-roll chat-card item-card">
    <header class="card-header flexcol">
        <h3 class="item-name noborder">{{localize 'MonksTokenBar.ContestedRoll'}}</h3>
        <div class="flexrow">{{#each tokens}}<div class="request-name">{{this.requests.0.name}}</div>{{/each}}</div>
    </header>
    <div class="message-content" style="margin:5px 0px;">
        <div class="card-content"></div>
	    <div class="form-group sheet actor">
            <ol class="items-list inventory-list">
                <li class="items-header flexrow">
                    <h3 class="item-name noborder flexrow">{{localize 'MonksTokenBar.Actors'}}</h3>
                </li>

                <ol class="item-list">
                    {{#each tokens}}
                    <li class="item flexrow {{#unless this.showtoken}}gm-only{{/unless}}" data-item-id="{{this.id}}" style="display:none;">
                        <div class="dice-roll flexcol">
                            <div class="item-row flexrow">
                                <div class="item-name flexrow">
                                    <div class="item-image" style="background-image: url('{{this.icon}}')">
                                    </div>
                                    <h4 class="noselect">
                                        <div><span {{#unless this.showname}}class="gm-only"{{/unless}}>{{this.name}}</span></div>
                                    </h4>
                                </div>

                                <div class="roll-controls flexrow noselect">
                                    <a class="item-control item-roll" title="{{localize 'MonksTokenBar.Roll'}}" style="display:none;"></a>
                                </div>
                            </div>
                            <div class="dice-tooltip" style="display:none;"></div>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </ol>
        </div>
    </div>
    <footer class="card-footer gm-only">
        <div class="flexrow" style="justify-content:flex-end">
            <button type="button" class="select-all footer-button" title="{{localize 'MonksTokenBar.SelectAll'}}"><i class="fas fa-users"></i></button>
            <button type="button" class="select-saved footer-button" title="{{localize 'MonksTokenBar.SelectSaved'}}"><i class="fas fa-user-check"></i></button>
            <button type="button" class="select-failed footer-button" title="{{localize 'MonksTokenBar.SelectFailed'}}"><i class="fas fa-user-times"></i></button>
            {{#if canGrab}}<button type="button" class="grab-message footer-button" title="{{localize 'MonksTokenBar.GrabMessage'}}"><i class="fas fa-hand-sparkles"></i></button>{{/if}}
        </div>
        <div style="overflow:hidden;white-space:nowrap;">
            <span class="message-mode">{{modename}}</span>
        </div>
    </footer>
</div>
