<div class="monks-tokenbar flexcol">
    <div class="dialog-content">
        <form style="height:100%;">
            <div class="flexcol">
                <div class="form-group">
                    <label>{{localize 'MonksTokenBar.RollMode'}}</label>
                    <select id="contestedroll-rollmode">
                        <option value="roll" selected="">{{localize 'MonksTokenBar.PublicRoll'}}</option>
                        <option value="gmroll">{{localize 'MonksTokenBar.PrivateGMRoll'}}</option>
                        <option value="blindroll">{{localize 'MonksTokenBar.BlindGMRoll'}}</option>
                        <option value="selfroll">{{localize 'MonksTokenBar.SelfRoll'}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>{{localize 'MonksTokenBar.Flavor'}}</label>
                    <input type="text" id="monks-tokenbar-flavor" value="{{flavor}}" />
                </div>
                <div class="form-group">
                    <label>{{localize 'MonksTokenBar.HideNPCName'}}</label>
                    <input id="contestedroll-hidenpc" type="checkbox" {{#if hidenpcname}} checked{{/if}} />
                </div>
                <div class="form-group sheet">
                    <ol class="items-list inventory-list">
                        <li class="items-header flexrow">
                            <h3 class="item-name flexrow">{{localize 'MonksTokenBar.Actors'}}</h3>
                        </li>

                        <ol class="item-list">
                            <li class="item flexrow " data-item-id="{{entries.0.token.id}}" draggable="true">
                                <div class="item-name flexrow rollable">
                                    <div class="item-image" style="background-image: url('{{entries.0.token.document.texture.src}}') "><video width="30" height="30"><source src="{{entries.0.token.document.texture.src}}" /></video></div>
                                    <h4>
                                        {{entries.0.token.name}}
                                    </h4>
                                </div>
                                <select class="request-roll" data-index="0" style="flex:0 0 150px;">
                                    {{#each options}}
                                    {{#if this.groups}}
                                    <optgroup label="{{localize this.text}}">
                                        {{#each this.groups as |name key|}}
                                        <option value="{{../id}}:{{key}}">{{localize name}}</option>
                                        {{/each}}
                                    </optgroup>
                                    {{else}}
                                    <option value="{{this.id}}">{{localize this.text}}</option>
                                    {{/if}}
                                    {{/each}}
                                </select>
                                <div class="item-controls flexrow">
                                    <a class="item-control item-delete" title="{{localize 'MonksTokenBar.DeleteItem'}}" data-index="0"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        </ol>
                    </ol>
                </div>
                <div class="form-group sheet">
                    <ol class="items-list inventory-list">
                        <li class="items-header flexrow">
                            <h3 class="item-name flexrow">{{localize 'MonksTokenBar.Vs'}}</h3>
                        </li>

                        <ol class="item-list">
                            <li class="item flexrow " data-item-id="{{entries.1.token.id}}" draggable="true">
                                <div class="item-name flexrow rollable">
                                    <div class="item-image" style="background-image: url('{{entries.1.token.document.texture.src}}') "><video width="30" height="30"><source src="{{entries.1.token.document.texture.src}}" /></video></div>
                                    <h4>
                                        {{entries.1.token.name}}
                                    </h4>
                                </div>
                                <select class="request-roll" data-index="1" style="flex:0 0 150px;">
                                    {{#each options}}
                                    {{#if this.groups}}
                                    <optgroup label="{{localize this.text}}">
                                        {{#each this.groups as |name key|}}
                                        <option value="{{../id}}:{{key}}">{{localize name}}</option>
                                        {{/each}}
                                    </optgroup>
                                    {{else}}
                                    <option value="{{this.id}}">{{localize  this.text}}</option>
                                    {{/if}}
                                    {{/each}}
                                </select>
                                <div class="item-controls flexrow">
                                    <a class="item-control item-delete" title="{{localize 'MonksTokenBar.DeleteItem'}}" data-index="1"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        </ol>
                    </ol>
                </div>
            </div>
        </form>
    </div>
    <div class="dialog-buttons flexrow">
        <button class="dialog-button save-macro" data-button="save-macro" title="{{localize 'MonksTokenBar.SaveToMacro'}}" style="width:30px;flex:0 0 30px;"><i class="fas fa-save"></i></button>
        <button class="dialog-button request-roll" data-button="request-roll"><i class="fas fa-dice"></i> {{localize 'MonksTokenBar.RequestWithRoll'}}</button>
        <button class="dialog-button request" data-button="request"><i class="fas fa-receipt"></i> {{localize 'MonksTokenBar.Request'}}</button>
    </div>
</div>
