<div class="monks-tokenbar flexcol editstats">
    <form>
        <div class="dialog-content sheet" style="flex: 0 0 200px;height:200px;">
            <ol class="items-list" style="overflow: visible;">
                <li class="items-header flexrow" style="position: relative;">
                    <div class="item-controls"></div>
                    <div class="item-name" style="text-align: left;">Name</div>
                    <div class="item-controls flexrow" style="text-align: center;">
                        <a class="item-control item-add"><i class="fas fa-plus"></i> Add</a>
                    </div>
                </li>

                <ol class="item-list" style="padding-left: 0px; max-height: 500px;">
                    {{#each stats}}
                    <li class="item flexrow" data-id="{{this.id}}" style="position:relative;">
                        <div class="item-controls icon" style="text-align: center;">
                            <i class="fas {{this.icon}}"></i>
                        </div>

                        <div class="item-name stat-name" style="overflow:visible">
                            <input type="text" class="stat-text typeahead" autocomplete="off" value="{{this.stat}}" />
                        </div>

                        <div class="item-controls flexrow">
                            <a class="item-control remove"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </ol>

            <div class="font-picker">
                <header class="flexrow">
                    <a class="header-button close-picker" style="flex: 0 0 14px;"><i class="fas fa-times" style="margin-top:4px;"></i></a>
                </header>
                <section>
                </section>
            </div>
        </div>
        <footer class="sheet-footer flexrow">
            <button type="button" name="submit">
                <i class="far fa-save"></i> Save Changes
            </button>
            <button type="button" name="reset">
                <i class="fas fa-undo"></i> Reset Defaults
            </button>
        </footer>
    </form>
</div>