<div class="monks-tokenbar flexcol editstats" style="height: 100%; overflow: hidden;">
    <form class="flexcol" style="height: 100%; overflow: hidden;">
        {{#if hasObject}}<p class="notes" style="flex: 0;">This is just for custom stats you can edit the default stats in the settings for this module</p>{{/if}}
        <div class="dialog-content sheet" style="height: 100%; overflow: hidden;">
            <ol class="items-list" style="height: 100%; overflow: hidden;">
                <li class="items-header flexrow" style="position: relative;">
                    <div class="item-controls"></div>
                    <div class="item-name" style="text-align: left;">Name</div>
                    <div class="item-controls flexrow" style="text-align: center;"></div>
                    <div class="item-controls flexrow" style="text-align: center;">
                        <a class="item-control item-add"><i class="fas fa-plus"></i> Add</a>
                    </div>
                </li>

                <ol class="item-list" style="padding-left: 0px; overflow-y: auto; height: calc(100% - 35px);">
                    {{#each stats}}
                    <li class="item flexrow" data-id="{{this.id}}" style="position:relative;">
                        <div class="item-controls icon" style="text-align: center;">
                            <i class="fas {{this.icon}}"></i>
                        </div>

                        <div class="item-name stat-name" style="overflow:visible">
                            <input type="text" class="stat-text typeahead" autocomplete="off" value="{{this.stat}}" />
                        </div>

                        <div class="item-controls" style="text-align: center;">
                            <input type="color" class="stat-color" value="{{this.color}}">
                        </div>

                        <div class="item-controls flexrow">
                            <a class="item-control remove"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </ol>
        </div>
        <footer class="sheet-footer flexrow" style="flex-grow: 0;">
            <button type="button" name="submit">
                <i class="far fa-save"></i> Save Changes
            </button>
            <button type="button" name="reset">
                <i class="fas fa-undo"></i> Reset Defaults
            </button>
        </footer>
    </form>
</div>