<div class="monks-tokenbar level-up flexcol">
    <div class="dialog-content">
        {{localize 'MonksTokenBar.ReadyToUpdate' name=name}}
        <form style="height:100%;">
            <div class="form-group">
                <label>{{localize 'MonksTokenBar.Level'}}: {{ level }}, ({{ xp }} XP)</label>
                <a class="item-control add-level" title="{{localize 'MonksTokenBar.IncreaseLevel'}}">
                    <i class="fas fa-plus"></i>{{localize 'MonksTokenBar.XPAdd'}}
                </a>
            </div>
        </form>
    </div>
</div>