<div class="monks-tokenbar flexcol">
    <div class="dialog-content">
        <form>
            <div class="flexrow">
                <div style="padding-right:10px;">
                    <div class="form-group">
                        <label>{{localize dclabel}}</label>
                        <input type="number" step="any" id="monks-tokenbar-savingdc" placeholder="{{localize 'MonksTokenBar.SavingDCPlaceholder'}}" value="{{dc}}" />
                    </div>
                    <div class="form-group">
                        <label>{{localize 'MonksTokenBar.RollMode'}}</label>
                        <select id="savingthrow-rollmode">
                            <option value="roll" selected="">{{localize 'MonksTokenBar.PublicRoll'}}</option>
                            <option value="gmroll">{{localize 'MonksTokenBar.PrivateGMRoll'}}</option>
                            <option value="blindroll">{{localize 'MonksTokenBar.BlindGMRoll'}}</option>
                            <option value="selfroll">{{localize 'MonksTokenBar.SelfRoll'}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>{{localize 'MonksTokenBar.Flavor'}}</label>
                        <input type="text" id="monks-tokenbar-flavor" value="{{flavor}}" />
                    </div>
                    <div class="form-group sheet">
                        <ol class="items-list inventory-list">
                            <li class="items-header flexrow">
                                <h3 class="item-name flexrow">{{localize 'MonksTokenBar.Actors'}}</h3>

                                <div class="item-controls flexrow">
                                    <a class="item-control" title="{{localize 'MonksTokenBar.AddPlayers'}}" data-type="player">
                                        <i class="fas fa-child"></i>{{localize 'MonksTokenBar.Players'}}
                                    </a>
                                    <a class="item-control" title="{{localize 'MonksTokenBar.AddLastTokens'}}" data-type="last">
                                        <i class="fas fa-bolt"></i>{{localize 'MonksTokenBar.LastTokens'}}
                                    </a>
                                    <a class="item-control" title="{{localize 'MonksTokenBar.AddActor'}}" data-type="actor">
                                        <i class="fas fa-plus"></i>{{localize 'MonksTokenBar.XPAdd'}}
                                    </a>
                                    <a class="item-control" title="{{localize 'MonksTokenBar.ClearAll'}}" data-type="clear">
                                        <i class="fas fa-trash-alt"></i>{{localize 'MonksTokenBar.Clear'}}
                                    </a>
                                </div>
                            </li>

                            <ol class="item-list" style="min-height:150px;">
                                {{#each entries}}
                                <li class="item flexrow " data-item-id="{{this.token.id}}" draggable="true">
                                    <div class="item-name flexrow rollable">
                                        <div class="item-image" style="background-image: url('{{this.token.data.img}}')">
                                            <video width="30" height="30"><source src="{{this.token.data.img}}" /></video>
                                        </div>
                                        <h4>
                                            {{this.token.name}}
                                        </h4>
                                    </div>

                                    <div class="item-controls flexrow">
                                        <a class="item-control item-delete" title="{{localize 'MonksTokenBar.DeleteItem'}}"><i class="fas fa-trash"></i></a>
                                    </div>
                                </li>
                                {{/each}}
                            </ol>
                        </ol>
                    </div>
                </div>
                <div class="request-roll" style="height: 100%; overflow-y: auto; overflow-x: hidden;line-height: 17px;">
                    {{#each options}}
                    {{#if this.text}}
                    <div class="request-header">{{localize this.text}}</div>
                    {{/if}}
                    <div class="request-grid {{this.cssclass}}">
                        {{#each this.groups as |name key|}}
                        <div class="request-option" value="{{../id}}:{{key}}">{{localize name}}</div>
                        {{/each}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </form>
    </div>
    <div class="dialog-buttons flexrow">
        <button class="dialog-button save-macro" data-button="save-macro" title="{{localize 'MonksTokenBar.SaveToMacro'}}" style="width:30px;flex:0 0 30px;"><i class="fas fa-save"></i></button>
        <button class="dialog-button request-roll" data-button="request-roll"><i class="fas fa-dice"></i> {{localize 'MonksTokenBar.RequestWithRoll'}}</button>
        <button class="dialog-button request" data-button="request"><i class="fas fa-receipt"></i> {{localize 'MonksTokenBar.Request'}}</button>
    </div>
</div>
