<div class="dialog-content">
    <form style="height:100%;">
        <div class="form-group">
            <label>Roll</label>
            <select id="monks-tokenbar-roll">
                <optgroup label="Ability">
                    {{#each abilities as |name key|}}
                    <option attr="ability" value="{{key}}">{{name}}</option>
                    {{/each}}
                </optgroup>
                <optgroup label="Saving Throw">
                    {{#each abilities as |name key|}}
                    <option attr="saving" value="{{key}}">{{name}}</option>
                    {{/each}}
                </optgroup>
                <optgroup label="Skill">
                    {{#each skills as |name key|}}
                    <option attr="skill" value="{{key}}">{{name}}</option>
                    {{/each}}
                </optgroup>
            </select>
        </div>
        <div class="form-group">
            <label>DC</label>
            <input type="text" id="monks-tokenbar-savingdc" placeholder="Leave blank to not calculate" />
        </div>
        <div class="form-group">
            <label>Roll Mode</label>
            <select id="monks-tokenbar-rollmode">
                <option value="roll" selected="">Public Roll</option>
                <option value="gmroll">Private GM Roll</option>
                <option value="blindroll">Blind GM Roll</option>
                <option value="selfroll">Self Roll</option>
            </select>
        </div>
        <div class="form-group dnd5e sheet">
            <ol class="items-list inventory-list">
                <li class="items-header flexrow">
                    <h3 class="item-name flexrow">Actors</h3>

                    <div class="item-controls flexrow">
                        <a class="item-control item-create" title="Add Actor" data-type="actor">
                            <i class="fas fa-plus"></i> Add
                        </a>
                    </div>
                </li>

                <ol class="item-list">
                    {{#each tokens}}
                    <li class="item flexrow " data-item-id="{{this.id}}" draggable="true">
                        <div class="item-name flexrow rollable">
                            <div class="item-image" style="background-image: url('{{this.data.img}}')"></div>
                            <h4>
                                {{this.name}}
                            </h4>
                        </div>

                        <div class="item-controls flexrow">
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </ol>
        </div>
    </form>
</div>
<div class="dialog-buttons">
    <button class="dialog-buttons request" data-button="request">Request</button>
</div>