<div class="monks-tokenbar savingthrow chat-card">
    <header class="card-header flexrow">
        <h3 class="item-name noborder">{{{name}}}</h3>
        {{#if dc}}
        <div class="item-controls flexrow" style="text-align: right;flex: 0 0 55px;">
            <h3 class="{{#unless showdc}}gm-only{{/unless}} noborder">{{localize 'MonksTokenBar.SavingDC'}}: {{dc}}</h3>
        </div>
        {{/if}}
    </header>
    <div class="message-content" style="margin:5px 0px;">
        <div class="card-content"></div>
	    <div class="form-group sheet actor">
            <ol class="items-list inventory-list" style="overflow-y: visible;">
                <li class="items-header flexrow">
                    <h3 class="item-name noborder flexrow">{{localize 'MonksTokenBar.Actors'}}</h3>

                    <div class="item-controls flexrow">
                        <a class="item-control roll-all gm-only" title="{{localize 'MonksTokenBar.RollAll'}}" data-control="all">
                            <i class="fas fa-users"></i>
                        </a>
                        <a class="item-control roll-npc gm-only" title="{{localize 'MonksTokenBar.RollNPC'}}" data-control="npc">
                            <i class="fas fa-users-cog"></i>
                        </a>
                    </div>
                </li>

                <ol class="item-list">
                    {{#each tokens}}
                    <li class="item flexcol {{#unless this.showtoken}}gm-only{{/unless}}" data-item-id="{{this.id}}" style="display:none;">
                        <div class="flexrow token-roll-container" >
                            <div class="dice-roll flexcol">
                                <div class="item-row flexrow">
                                    <div class="item-name flexrow">
                                        <div class="item-image" style="background-image: url('{{this.icon}}')"></div>
                                        <h4 class="noselect">
                                            <span class="gm-only" {{#if (or (ne this.realname this.name) (eq this.showname false))}}style="font-style:italic;"{{/if}}>{{this.realname}}</span>
                                            <span class="player-only">{{#if this.showname}}{{this.name}}{{/if}}</span>
                                        </h4>
                                    </div>

                                    <div class="roll-controls flexrow">
                                        <a class="item-control item-roll" title="{{localize 'MonksTokenBar.Roll'}}" style="display:none;">
                                            {{#if ../showAdvantage}}
                                            <div class="adv-btn advantage" title="Advantage"><i class="fas fa-circle-plus advantage"></i></div>
                                            <div class="adv-btn disadvantage" title="Disadvantage"><i class="fas fa-circle-minus disadvantage"></i></div>
                                            {{/if}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="token-properties"></div>
                    </li>
                    {{/each}}
                </ol>
            </ol>
        </div>
    </div>
    <footer class="card-footer gm-only flexcol">
        <div class="flexrow" style="justify-content:flex-end">
            <button type="button" class="select-all footer-button" title="{{localize 'MonksTokenBar.SelectAll'}}"><i class="fas fa-users"></i></button>
            {{#if hasCritical}}<button type="button" class="select-success footer-button" title="{{localize 'MonksTokenBar.SelectCriticalSaved'}}"><i class="fas fa-user-plus"></i></button>{{/if}}
            <button type="button" class="select-saved footer-button" title="{{localize 'MonksTokenBar.SelectSaved'}}"><i class="fas fa-user-check"></i></button>
            <button type="button" class="select-failed footer-button" title="{{localize 'MonksTokenBar.SelectFailed'}}"><i class="fas fa-user-times"></i></button>
            {{#if hasCritical}}<button type="button" class="select-critical footer-button" title="{{localize 'MonksTokenBar.SelectCriticalFailed'}}"><i class="fas fa-user-minus"></i></button>{{/if}}
            {{#if canGrab}}<button type="button" class="grab-message footer-button" title="{{localize 'MonksTokenBar.GrabMessage'}}"><i class="fas fa-hand-sparkles"></i></button>{{/if}}
        </div>
        <div style="overflow:hidden;white-space:nowrap;">
            <span class="message-mode">{{modename}}</span><span> {{localize 'MonksTokenBar.GroupDC'}}: <span class="group-dc"></span></span>
        </div>
    </footer>
</div>
