<div class="monks-tokenbar savingthrow chat-card">
    <header class="card-header flexrow">
        <h3 class="item-name">{{name}}</h3>
        <div class="item-controls flexrow" style="text-align:right;">
            {{#if dc}}<h3 class="gm-only">DC: {{dc}}</h3>{{/if}}
        </div>
    </header>
    <div class="message-content" style="margin:5px 0px;">
        <div class="card-content"></div>
	    <div class="form-group sheet actor">
            <ol class="items-list inventory-list">
                <li class="items-header flexrow">
                    <h3 class="item-name flexrow">Actors</h3>

                    <div class="item-controls flexrow">
                        <a class="item-control roll-all gm-only" title="Roll All" data-control="all">
                            <i class="fas fa-users"></i>
                        </a>
                        <a class="item-control roll-npc gm-only" title="Roll NPCs" data-control="npc">
                            <i class="fas fa-users-cog"></i>
                        </a>
                    </div>
                </li>

                <ol class="item-list">
                    {{#each actors}}
                    <li class="item flexrow " data-item-id="{{this.id}}" style="display:none;">
                        <div class="dice-roll flexcol">
                            <div class="item-row flexrow">
                                <div class="item-name flexrow">
                                    <div class="item-image" style="background-image: url('{{this.icon}}')"></div>
                                    <h4>
                                        {{this.name}}
                                    </h4>
                                </div>

                                <div class="roll-controls flexrow">
                                    <a class="item-control item-roll" title="Roll" style="display:none;"></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </ol>
        </div>
    </div>
    <footer class="card-footer gm-only">
        <span class="message-mode">{{modename}}</span><span> Group DC: <span class="group-dc"></span></span>
    </footer>
</div>