<div id="tokenbar" class="flexrow {{cssClass}}" movement="{{movement}}" style="{{pos}}">
    <div id="tokenbar-controls" class="bar-controls flexrow">
        <div id="tokenbar-move-handle"></div>
        {{#each buttons}}
            <div class="flexcol tokenbar-buttons">
                {{#each this}}
                <div id="{{this.id}}" title="{{localize this.title}}" class="{{#if this.disabled}}disabled{{/if}} {{#if this.hidden}}hidden{{/if}} {{#if this.active}}active{{/if}}">
                    <i class="fas {{this.icon}}"></i>
                </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
    <nav id="token-action-bar" class="flexrow">
        <ol class="flexrow token-list">{{#each tokens}}
            <li class="token flexcol {{this.cssClass}}" {{#if this.token}} data-token-id="{{this.id}}" {{/if}} movement="{{this.movement}}">
                <div class="token-stats flexcol {{this.statClass}}">
                    <div class="token-stat stat1 flexrow">{{#if this.stat1}}<i class="fas {{../stat1icon}}"></i><span>{{this.stat1}}</span>{{/if}}</div>
                    <div class="token-stat stat2 flexrow">{{#if this.stat2}}<i class="fas {{../stat2icon}}"></i><span>{{this.stat2}}</span>{{/if}}</div>
                </div>
                <div class="token-content">
                    <div class="movement-icon" movement="{{this.movement}}"><i class="fas"></i></div>
                    {{#if this.thumb}}
                    <img class="token-icon" src="{{this.thumb}}" />
                    {{/if}}
                    {{#if this.resource1.value}}
                    <div class="resource" resource="1"><div class="bar" style="width:{{this.resource1.pct}}%;background-color:{{this.resource1.color}}"></div></div>
                    {{/if}}
                    {{#if this.resource2.value}}
                    <div class="resource" resource="2"><div class="bar" style="width:{{this.resource2.pct}}%;background-color:{{this.resource2.color}}"></div></div>
                    {{/if}}
                </div>
            </li>
            {{/each}}</ol>
    </nav>
</div>